.wrapper

  = render "shared/header"

  .event-detail
    .event-detail-option
      = link_to "ユーザー一覧へ", users_path

  .page-user-name
    = @user.name
    = "さんのマイページ"
    .user-image
      - if @user.image.url != nil
        = image_tag @user.image.url
  .edit-user
    = form_for @user do |f|
      .edit-user-image
        = f.file_field :image
      .edit-user-introduce
        = f.text_area :introduce
      .edit-user-submit
        = f.submit '編集する'


