.wrapper

  = render "shared/header"

  .user-detail
    .user-detail-option
      - if @user.id == current_user.id
      - else
        - if @isRoom == true
          %p
            %a{href: "/rooms/#{@roomId}"} dm画面へ
        - else
          = form_for @room do |f|
            = fields_for @entry do |e|
              = e.hidden_field :user_id, value: @user.id
            = f.submit "dmを送る"
      = link_to "ユーザー一覧へ", users_path
  .page-user-name
    = @name
    = "さんのマイページ"
    .user-image
      - if @user.image.url != nil
        = image_tag @user.image.url
      - else
        = image_tag "default.jpg"
  .page-user-introduce
    .page-user-introduce-title
      = "プロフィール"
    .page-user-introduce-text
      = @user.introduce
  .mypage-detail
    - if @user.id == current_user.id 
      .mypage-detail-option 
        = link_to "編集", edit_user_path(@user.id)
  .main-page
    .main-page-title
      = "投稿一覧"
    .main-contents
      = render "shared/event-boxes"


