.wrapper
  = render "shared/header"
          
  .search
    = form_for "#" do |f|
      = f.text_field :content, class: 'form-text', placeholder: 'キーワードを入力して下さい'
      .search-btn
        = f.submit '検索', class: 'form-submit'

  .main-page
    .main-contents
      .page
        = paginate(@posts)

      =render "shared/event-boxes"

    .page
      = paginate(@posts)

  -# .hooter
  -#   = "Copyright ©️ 2019 SHIN All Rights Reserved."